<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    
    <!-- Location of local file folders -->
    <add key="LOCAL_LOCATION_FILES_SOURCE_DOCUMENTS" value="C:\dev\NDA\TestDocs\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LOCAL_LOCATION_FILES_PROCESSED_OUTPUTS" value="C:\dev\NDA\Processed\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LOCAL_LOCATION_FILES_ERRORS" value="C:\dev\NDA\Errors\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- Cognitive Services -->
    <add key="COGNITIVE_SERVICES_KEY" value="e0d42fde1ad5470ca50bc3e9a3883cad" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="COGNITIVE_SERVICES_BING_ENTITY_SEARCH_KEY" value="24398e67b2dd4efc8f187765741763dd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="COGNITIVE_SERVICES_REGION" value="southcentralus" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="COGNITIVE_SERVICES_REGION_TEXT_ANALYTICS" value="https://southcentralus.api.cognitive.microsoft.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="COGNITIVE_SERVICES_REGION_TEXT_ANALYTICS_SENTIMENTv3" value="https://southcentralus.api.cognitive.microsoft.com/text/analytics/v3.0-preview/sentiment" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- Cloud Storage -->
    <add key="STORAGE_TABLE_AND_CONTAINER_NAMES" value="CognitiveDocumentEnricher" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="STORAGE_ACCOUNT_NAME" value="enrichmentstoragedemo" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="STORAGE_ACCOUNT_KEY" value="d/yufvr82m+zn+tLTHwGfZ6cPW8ZWj9WBDjpNnLYHJqJEC7/cDAcmx/Wgki6Q7jiLm2PV9o6L4YYdUHZepuzxg==" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="STORAGE_ACCOUNT_TEMP_SAS_KEY" value="?st=2019-11-19T15%3A20%3A00Z&amp;se=2030-11-20T15%3A33%3A00Z&amp;sp=rcwl&amp;sv=2018-03-28&amp;sr=c&amp;sig=t%2FY%2BVxri1UlBir955HeDZwjQwHYwtSNDS%2F2sq1uF%2BgE%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <!-- CosmosDb Storage -->
    <add key="COSMOSDB_DOCUMENTS_URI" value="https://cosmosenrichmentdemo.documents.azure.com:443/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="COSMOSDB_DOCUMENTS_KEY" value="M2BoNKW7RLVZjGtNoO0yTL8xgCuK3Snny3obTFVgAKycZ4aM2PWTARY0iLR4W1fcF8I8lcNwA6HVRwGphwypbA==" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="COSMOSDB_DOCUMENTS_SELFLINK" value="dbs/KIgWAA==/colls/KIgWAMKG3Zk=/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
  </appSettings>
</configuration>